.question-page {
    padding: 53px 100px 0 100px;
    display: flex;
    position: relative;

    .chat-window {
        position: fixed;
        width: 450px;
        z-index: 1;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        border-radius: 6px;

        .chat-header {
            height: 45px;
            border-radius: 6px 6px 0 0;
            background: #263238;
            position: relative;
            cursor: pointer;

            p {
                display: block;
                padding: 0 1em 0 2em;
                color: #fff;
                font-weight: 700;
                line-height: 45px;
            }
        }

        .chat-body {
            height: 385px;
            border: 1px solid #263238;
            background: #fff;
            position: relative;

            .message-container {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .message {
                height: auto;
                padding: 10px;
                display: flex;

                .message-content {
                    width: auto;
                    height: auto;
                    min-height: 40px;
                    max-width: 300px;
                    background-color: #e4e6eb;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    margin-right: 5px;
                    margin-left: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    overflow-wrap: break-word;
                    word-break: break-word;

                    p {
                        color: #050505;
                    }
                }

                .message-meta {
                    display: flex;
                    font-size: 12px;

                    p:first-child {
                        margin-right: 5px;
                    }
                }
            }

            #you {
                justify-content: flex-end;

                .message-content {
                    justify-content: flex-end;
                    background-color: #0084ff;

                    p {
                        color: #ffffff;
                    }
                }

                .message-meta {
                    justify-content: flex-end;
                    margin-right: 5px;

                    #author {
                        margin-left: 10px;
                        font-weight: bold;
                    }
                }
            }

            #other {
                justify-content: flex-start;

                .message-content {
                    justify-content: flex-start;
                }

                .message-meta {
                    justify-content: flex-start;
                    margin-left: 5px;
                }
            }
        }

        .chat-footer {
            height: 40px;
            border: 1px solid #263238;
            border-top: none;
            display: flex;
            border-radius: 0 0 6px 6px;
            background-color: #ffffff;

            input {
                flex: 85%;
                border: 0;
                padding: 0 0.7em;
                font-size: 1em;
                border-right: 1px solid #607d8b;
                outline: none;
                font-family: "Open Sans", sans-serif;
            }

            button {
                border: 0;
                display: grid;
                place-items: center;
                cursor: pointer;
                flex: 15%;
                height: 100%;
                background: transparent;
                outline: none;
                font-size: 25px;
                color: lightgray;

                &:hover {
                    color: orange;
                }
            }
        }
    }

    .question-page__content {
        padding: 24px;

        .question-page__header {
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;
            border-bottom: 1px solid hsl(210, 8%, 90%);

            .question-page__title {
                font-size: 26px;
                font-weight: 400;
                color: #232629;
                margin-bottom: 25px;
                margin-right: 100px;
            }

            .ask-question-btn {
                height: 40px;
                color: #ffffff;
                background-color: #0a95ff;
                padding: 10px;
                border-radius: 3px;
                border: 1px solid #0a95ff;
                margin-right: 5px;

                &:hover {
                    cursor: pointer;
                    background-color: hsl(206, 100%, 40%);
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .question-page__created-at {
                width: 100%;
            }
        }

        .question-page__main-content {
            display: flex;
            max-height: 700px;
            overflow-y: scroll;
            margin-top: 20px;

            .question-vote {
                display: flex;
                flex-direction: column;
                font-size: 20px;
                margin-right: 40px;

                svg {
                    &:hover {
                        cursor: pointer;
                    }
                }

                svg:first-child {
                    margin-bottom: 7px;
                }

                svg:nth-child(2) {
                    margin-top: 7px;
                }
            }

            .question-page__question {
                margin-right: 40px;
                border-bottom: 1px solid hsl(210, 8%, 90%);
                padding-bottom: 30px;

                .question-page__question-footer {
                    display: flex;
                    margin-top: 30px;
                    margin-bottom: 5px;
                    width: 750px;

                    .question--edit {
                        display: flex;

                        span {
                            margin-right: 10px;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .question--delete {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .question__user {
                        margin-left: auto;
                        width: 200px;
                        height: 70px;
                        padding: 10px;
                        background-color: rgb(220, 233, 246);
                        border-radius: 5px;
                        display: grid;
                        grid-template-areas:
                            "asked asked"
                            "avatar username"
                            "avatar reputation";
                        justify-content: start;

                        .question__user__asked {
                            grid-area: asked;
                            margin-bottom: 5px;
                        }

                        .question__user__avatar {
                            grid-area: avatar;
                            width: 50px;

                            img {
                                width: 32px;
                                height: 32px;
                                border-radius: 3px;
                            }
                        }

                        .question__user__username {
                            grid-area: username;
                            margin-top: -5px;

                            a {
                                text-decoration: none;
                                font-size: 18px;
                                color: #0074cc;
                            }
                        }

                        .question__user__reputation {
                            grid-area: reputation;
                        }
                    }
                }

                .comments__content {
                    max-height: 300px;
                    overflow-y: scroll;

                    .comment {
                        padding-top: 3px;
                        padding-bottom: 5px;
                        border-top: 1px solid hsl(210, 8%, 90%);
                        display: flex;
                        flex-wrap: wrap;

                        .comment__content {
                            margin-right: 10px;

                            a {
                                color: #0074cc;
                                text-decoration: none;
                            }
                        }

                        .comment--edit {
                            span {
                                margin-right: 10px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .comment--add {
                        color: #838c95;
                        margin-top: 10px;

                        &:hover {
                            cursor: pointer;
                            color: #0a95ff;
                        }
                    }

                    .input-comment {
                        display: flex;
                        margin-top: 10px;

                        textarea {
                            resize: none;
                            margin-right: 50px;
                            width: 550px;
                            height: 80px;
                        }

                        .submit-comment {
                            height: 40px;
                            color: #ffffff;
                            background-color: #0a95ff;
                            padding: 10px;
                            border-radius: 3px;
                            border: 1px solid #0a95ff;

                            &:hover {
                                cursor: pointer;
                                background-color: hsl(206, 100%, 40%);
                            }

                            span {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }
            }

            .right-sidebar {
                margin-top: 24px;
                background-image: url("../../../public/Img/ask-question-bg.svg");
                width: 250px;
            }
        }

        .answers {
            .total-answers {
                margin: 30px 0;
                color: #232629;
                font-size: 24px;
            }
        }

        .answer__post {
            margin-top: 30px;
            font-size: 24px;
            color: #232629;
            margin-bottom: 30px;

            .w-md-editor {
                width: 800px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .wmde-markdown {
                width: 400px;
            }

            .post-answer-btn {
                height: 40px;
                color: #ffffff;
                background-color: #0a95ff;
                padding: 10px;
                border-radius: 3px;
                border: 1px solid #0a95ff;

                &:hover {
                    cursor: pointer;
                    background-color: hsl(206, 100%, 40%);
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
